[user]
	name = Christian Angermann
	email = christian.angermann@visable.com
	# GPG signing
	signingkey = EDD0FFDEFAE157A5

[commit]
	gpgsign = false

[gpg]
	program = /usr/local/bin/gpg

[fetch]
	prune = true # deletes outdated remote references

[pager]
	color = true

[status]
	color = auto

[apply]
	whitespace = fix # detects whitespace errors when applying a patch

[core]
	# Use custom `.gitignore` and `.gitattributes`
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	# Treat spaces before tabs, lines that are indented with 8 or more spaces, and all kinds of trailing whitespace as an error
	# whitespace = space-before-tab,indent-with-non-tab,trailing-space
	editor = nvim
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta] # diff tool https://github.com/dandavison/delta
	light = false # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
	line-numbers = true # show line numbers
	navigate = true # use n and N to move between diff sections

[merge]
	conflictstyle = zdiff3 # even cleaner output than diff3
	log = true # summaries of merged commits in newly created merge commit messages

[diff]
  colorMoved = default

[color]
	ui = auto # colored output

# Use `origin` as the default remote on the `master` branch in all cases
[branch "master"]
	remote = origin
	merge = refs/heads/master

[rerere]
	enabled = true

[push]
	default = simple
	gpgsign = false

[pull]
	rebase = true
