[user]
	name = Christian Angermann
	email = christian.angermann@visable.com
	# GPG signing
	signingkey = EDD0FFDEFAE157A5

[commit]
	gpgsign = false

[gpg]
	program = /usr/local/bin/gpg

[alias]
	ci = commit
	co = checkout
	# View the current working tree status using the short format
	s = status -s
	st = status
	praise = blame
	lg = log --graph --pretty=format:'%Cblue%h%Creset - [%Cgreen%d%Creset] %s %Cred(%cr)%Creset' --abbrev-commit --date=relative

	# View the SHA, description, and history graph of the latest 20 commits
	l = log --pretty=oneline -n 20 --graph
	# Diff
	d = diff --patch-with-stat
	# Pull in remote changes for the current repository and all its submodules
	p = !"git pull; git submodule foreach git pull origin master"
	# Clone a repository including all submodules
	c = clone --recursive
	# Commit all changes
	ca = !git add . && git add -u && git commit -a
	# Switch to a branch, creating it if necessary
	go = checkout -B
	# Undo a `git push`
	undopush = push -f origin HEAD^:master

[fetch]
	prune = true # deletes outdated remote references

[pager]
	color = true

[status]
	color = auto

[apply]
	whitespace = fix # detects whitespace errors when applying a patch

[core]
	# Use custom `.gitignore` and `.gitattributes`
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	# Treat spaces before tabs, lines that are indented with 8 or more spaces, and all kinds of trailing whitespace as an error
	# whitespace = space-before-tab,indent-with-non-tab,trailing-space
	editor = nvim
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta] # diff tool https://github.com/dandavison/delta
	light = false # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
	line-numbers = true # show line numbers
	navigate = true # use n and N to move between diff sections

[merge]
	conflictstyle = zdiff3 # even cleaner output than diff3
	log = true # summaries of merged commits in newly created merge commit messages

[diff]
  colorMoved = default

[color]
	ui = auto # colored output

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = white reverse

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

# Use `origin` as the default remote on the `master` branch in all cases
[branch "master"]
	remote = origin
	merge = refs/heads/master

[rerere]
	enabled = true

[push]
	default = simple
	gpgsign = false

[pull]
	rebase = true
