.docs-dashboard {
  color: var(--docs-fg);
  display: flex;
  flex-direction: column;
  gap: var(--docs-space-2);
  margin-inline: var(--docs-space-2);
  margin-top: 3vh;
  max-width: 1080px;
  min-width: 320px;
  width: 50vm;
}
@media (min-width: 768px) {
  .docs-dashboard {
    --list-grid-template-columns: 1fr 1fr;
    margin-inline: auto;
    max-width: 1600px;
    width: 80vw;
  }
}



.docs-dashboard-section {
  display: flex;
  flex-direction: column;
}

.docs-dashboard-header {
  text-align: center;
}

.docs-dashboard-footer {
  margin-block: var(--docs-space-2) var(--docs-space-3);
}

.docs-dashboard-list {
  all: unset;
  display: grid;
  gap: var(--docs-space-4);
  grid-template-columns: var(--list-grid-template-columns, 1fr);
  list-style: none;

}
.docs-dashboard-list  li {
  border-bottom: var(--docs-border-set);
}

.docs-dashboard-link {
  align-items: center;
  color: var(--docs-fg);
  font-size: var(--docs-font-size-h3);
  position: relative;
  gap: var(--docs-space-3);
  display: flex;
  height: 100%;
  padding: var(--docs-space-2);
  text-decoration: none;
}
.docs-dashboard:focus {
  outline: currentColor 1px dotted;
}

.docs-dashboard:focus,
.docs-dashboard:hover {
  color: currentColor;
  text-decoration: none;
}

.docs-dashboard::before {
  position: absolute;
  background-color: transparent;
  content: '';
  height: 100%;
  left: 0;
  top: 0;
  transition-duration: 128ms;
  transition-property: width, background, border;
  transition-timing-function: ease-out;
  width: 0;
  z-index: -1;
}

.docs-dashboard:hover::before {
  background-color: var(--docs-bg-alt);
  width: 100%;
}


.docs-dashboard-link-subtitle {
  font-size: var(--docs-font-size-h5);
}

.docs-dashboard-media {
  height: 1em;
  line-height: 1;
  font-size: var(--docs-space-8);
  width: 1em;
}

.docs-dashboard-footer a {
  color: var(--docs-ac);
}

.docs-dashboard-title {
  font-size: var(--docs-font-size-h3);

}
.docs-dashboar-header {
  font-size: var(--docs-font-size-h1);
  margin-bottom: var(--docs-space-1);
}
