"$schema" = 'https://starship.rs/config-schema.json'

# Increase command timeout to prevent git timeout warnings during shell initialization
# Default is 500ms, but async workers can cause resource contention
command_timeout = 1000

# multiple lines layout
# xxx.on.xxx.................................................................xxx
# > _

format = """
$directory\
$git_branch\
$git_state\
$git_status\
$git_commit\
$git_metrics\
$fill\
$all\
$character
"""

[fill]
symbol = ' '

[character]
success_symbol = '[>](green)'
error_symbol = '[>](red)'
vimcmd_symbol = '[<](green)'
vimcmd_replace_one_symbol = '[<](purple)'
vimcmd_replace_symbol = '[<](purple)'
vimcmd_visual_symbol = '[<](yellow)'

[directory]
style = "blue"
read_only = " "

[cmd_duration]
format = ' [](yellow) $duration'

# GIT --------------------------------------------------------------------------
[git_branch]
style = "green"
symbol = " "

[git_state]
style= "yellow"
format = '[$state( $progress_current/$progress_total)]($style) '
am = "applying mailbox"
am_or_rebase = "applying mailbox/rebase"
bisect = "bisecting"
cherry_pick = "cherry-picking"
merge = "merging"
rebase = "rebasing"
revert = "reverting"

[git_commit]
style = "green"
format= '[ $hash$tag]($style) '

[git_status]
disabled = false
ahead = "↑${count} "
behind = "↓${count} "
conflicted = " ${count} "
diverged = "↑${ahead_count}↓${behind_count} "
deleted = " ${count} "
modified = " ${count} "
renamed = " ${count} "
staged = "󱗜 ${count} "
stashed = " ${count} "
untracked = " ${count} "
style = 'bright-purple'
format = "[$ahead_behind$conflicted](yellow)[($untracked$staged$modified$renamed$deleted)](purple)"

[git_metrics]
disabled = true
added_style = "bright-green"
deleted_style = "bright-red"
# GIT --------------------------------------------------------------------------

[bun]
symbol = " "
style = "yellow"
format = ' [$symbol()]($style)$version'

[deno]
symbol = " "
format = ' [$symbol()]($style)$version'

[docker_context]
disabled = true

[hostname]
ssh_symbol = " "

[elixir]
symbol = " "
format = ' [$symbol()]($style)$version'

[golang]
symbol = " "
format = ' [$symbol()]($style)$version'

[kotlin]
symbol = " "
format = ' [$symbol()]($style)$version'

[lua]
symbol = " "
format = ' [$symbol()]($style)$version'

[nodejs]
symbol = " "
style = "green"
format = ' [$symbol]($style)$version'

[package]
symbol = "󰏗 "
style = "green"
format = ' [$symbol]($style)$version'

[php]
symbol = " "
format = ' [$symbol]($style)$version'

[python]
symbol = " "
style = "yellow"
format = ' [$symbol]($style)$version'

[ruby]
symbol = " "
format = ' [$symbol]($style)$version'

[rust]
symbol = " "
format = ' [$symbol]($style)$version'
